


<!-- <div class="container">
    <div class="py-5 text-center">
      <h2>Alta </h2>
      <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>
  
    
        <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            con el evento recibo la info del componente app-paises el dato que llega por $event
            <app-paises (eventoPaisSeleccionado)="cargarPaisSeleccionado($event)"></app-paises>
        </div>
        </div>
    </div> -->
<router-outlet></router-outlet>
